h3 Комментарии

h4.comment_here style="display: none;" Ответить на пост
.new_comment

= render partial: 'comments/form'
= render partial: 'comments/comment', collection: @comments.roots.order('created_at DESC')
