.post_search_field {
  margin-right: 20px;

  input {
    width: 400px;
  }
}

.posts_pagination {
  font-size: 24px;
  text-align: center;
  padding: 50px 0px 0px;

  a {
    padding: 5px;
    border: 1px solid gray;
    text-decoration: none;
  }
}
